{% extends 'Accounts/base.html' %}
{% block content %}
    
            
         

           
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Responsive Hover Table</h3>

                <div class="card-tools">
                  <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                      <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      
                      <th>Firstname</th>
                      <th>Lastname</th>
                      <th>Username</th>
                      <th>Email</th>
                      <th>Location</th>
                      <th>Coutry</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customers in customer %}
                    <tr>
                      
                      <td> {{customers.user.first_name}}</td>
                      <td>{{customers.user.last_name}}</td>
                      <td><span class="tag tag-success">{{customers.user.username}}</span></td>
                      <td><span class="tag tag-success">{{customers.user.email}}</span></td>
                      <td><span class="tag tag-success">{{customers.location}}</span></td>
                      <td><span class="tag tag-success">{{customers.country}}</span></td>
                      
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
{% endblock content %}